body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.header {
    padding: 10px;
    height: 10vh;
    background-color: #DA6E8A;
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

button {
    padding: 15px;
    color: white;
    background-color: #FFA7A7;
    border-radius: 20%;
    font-weight: bold;
    font-size: 13px;
}

button:hover {
    background-color: #CB2754;
}

.first-content {
    padding: 15px;
    background-color: #DA6E8A;
    display: flex;
    justify-content: center;
    gap: 35px;
    height: 40vh;
}

.first-content-a {
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.first-content-b {
    display: flex;
}

.first-content-b img {
    max-height: 40vh;
}

.second-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.variation-title {
    display: flex;
    justify-content: center;
}

.variation-title h3 {
    font-size: 25px;
    color: #CB2754;
    font-weight: bold;
}

.variation-box {
    display: flex;
    justify-content: center;
}

.variation {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.variation img {
    height: 100px;
    width: 100px;
}

.variation p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #CB2754;
}