body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 10px;
    background-color: #CB2754;
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

button {
    padding: 15px;
    color: #CB2754;
    background-color: #E5E7EB;
    border-radius: 12px;
    font-weight: bold;
    font-size: 13px;
}

button:hover {
    background-color: #CB2754;
    color: #E5E7EB;
}

.first-content {
    padding: 20px;
    background-color: #CB2754;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.first-content-a {
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.first-content-b {
    display: flex;
}

.first-content-b img {
    max-height: 40vh;
}

.second-content {
    padding: 15px;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.variation-title {
    display: flex;
    justify-content: center;
}

.variation-title h3 {
    font-size: 25px;
    color: #CB2754;
    font-weight: bold;
}

.variation-box {
    display: flex;
    justify-content: center;
}

.variation {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.variation img {
    height: 100px;
    width: 100px;
}

.variation p {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #CB2754;
}

.third-content {
    padding: 50px;
    background-color: #E5E7EB;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-content h3 {
    font-style: italic;
    font-size: 30px;
    color: #CB2754;
    font-weight: 400;
}

.third-content div {
    max-width: 600px;
    text-align: center;
}

.fourth-content {
    padding: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-content-a {
    padding: 20px;
    min-width: 50%;
    max-height: 5%;
    background-color: #CB2754;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fourth-content h3 {
    font-size: 25px;
}

.fourth-content p {
    font-size: 18px;
    color: #FFA7A7;
    font-weight: 300;
}